@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: var(--color-background);
  color: var(--color-text-primary); */
  background-color: #151515;
  align-items: center;
}
